<div class="card" style="width: 20rem;">
    <img src=<%= img %>
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Lorem ipsum</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut felis eget magna aliquet accumsan eget vitae nulla. Pellentesque congue urna malesuada lorem pellentesque, et dictum odio vestibulum. Aenean magna sem, porttitor in tristique ut, porttitor eu erat</p>
    </div>
</div>