<div class="card" style="width: 18rem;">
    <img class="card-img-top" src=<%= bild %> alt="profile-image">
    <div class="card-body">
        <h5 class="card-title"><%= namn %></h5>
        <% if (typeof program !== 'undefined') { %>
            <h6 class="card-subtitle mb-2 text-muted"><%= program %></h6>
        <% } else %>
            <h6 class="card-subtitle mb-2 text-muted">Program</h6>
        </div>
</div>