<div id="accordion">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link text-left" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">Din utbildning</button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <form>
          <!-- Program -->
          <div class="form-group">
            <label for="exampleFormControlSelect1">Program</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Teknik</option>
              <option>Samhällsvetenskap</option>
              <option>Naturvetenskap</option>
              <option>Ekonomi</option>
            </select>
          </div>

          <script>
            $("#exampleFormControlSelect1").on("change", (data) => {
              const val = {
                'Teknik': [
                  'Teknikvetenskap',
                  'IT-media',
                  'Produktionskunskap',
                  'Design'
                ],
                'Samhällsvetenskap': [
                  'Samhällsvetenskap',
                  'Beteendevetenskap'
                ],
                'Naturvetenskap': [
                  'Naturvetenskap',
                  'Naturvetenskap och samhälle'
                ],
                'Ekonomi': [
                  'Ekonomi'
                ]
              }
              
              const program = $(data.target)[0].value
              // Ändra options
              $('#inriktning').empty()
              val[program].forEach(inriktning => {
                $('#inriktning').append('<option>' + inriktning + '</option')
              });
              // Visa inriktningarna igen
              $('#inriktningar').collapse('show')
            })
          </script>

          <!-- Detta ska uppdateras dynamiskt i framtiden -->
          <div class="form-group collapse" id="inriktningar">
            <label for="inriktning">Inriktining</label>
            <select class="form-control" id="inriktning">
              <!-- <option>Inriktning</option> -->
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Spara</button>
        </form>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed text-left" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Sparade utbildningar
        </button>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        ...
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed text-left" data-toggle="collapse" data-target="#collapseThree"
          aria-expanded="false" aria-controls="collapseThree">
          Inställningar
        </button>
      </h5>
    </div>

    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        ...
      </div>
    </div>
  </div>
</div>