<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link text-left" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">Din utbildning</button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          <form>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Program</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Teknik</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Inriktining</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Teknikvetenskap</option>
                <option>IT-media</option>
                <option>Produktionsteknik</option>
                <option>Design</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Spara</button>
          </form>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed text-left" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Sparade utbildningar
        </button>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        ...
      </div>
    </div>
  </div>
</div>