.accordion .card:not(:last-of-type) {
    margin-bottom: 8px;
}

.card-header {
    background-color: #dee2e6;
    padding: 16px 0px 16px 24px;
    cursor: pointer;
}

.tab-content {
    margin-top: 1rem;
}

.card-header .d-flex {
    position: relative;
    width: 100%;
}

.fa-angle-right, .fa-angle-down {
    position: absolute;
    right: 24px;
    height: 100%;
}

.btn-primary {
    border: none;
    background-color: #542d69;
}

.btn-primary:hover {
    background-color: #3d214d;
}

.btn.btn-primary.active {
    background-color: #3d214d !important;
}