.card {
    margin-bottom: 8px;
    border-radius: 0px;
}

.card-header {
    background-color: #dee2e6;
    padding: 16px 0px 16px 24px;
    cursor:pointer;
}

.tab-content {
    margin-top: 1rem;
}

.card-header .d-flex {
    position: relative;
    width: 100%;
}

.fa-angle-right, .fa-angle-down {
    position: absolute;
    right: 24px;
    height: 100%;
}