<script type="text/babel">
    class Kurs extends React.Component {
        render() {
            return (
                <tr>
                    <td>{this.props.kurs.namn}</td>
                    <td>{this.props.kurs.po채ng}</td>
                    <td>{this.props.kurs.typ}</td>
                    <td>{this.props.kurs.betyg}</td>
                </tr>
            )
        }
    }

    class Kurser extends React.Component {
        render() {
            return (
                <div className="table-responsive ">
                    <table className="table table-hover">
                        <thead>
                            <tr>
                                <th>Kurs</th>
                                <th>Po채ng</th>
                                <th>Typ</th>
                                <th>Betyg</th>
                            </tr>
                        </thead>
                        <tbody>
                            {
                                this.props.kurser.map(kurs => {
                                    return <Kurs kurs={kurs} />
                                })
                            }
                        </tbody>
                    </table>
                </div>
            )
        }
    }

    // Test
    const data = [{
        namn: 'Svenska 1',
        po채ng: '100',
        typ: 'Programgemensamna',
        betyg: 'A'
    },
    {
        namn: 'Svenska 2',
        po채ng: '100',
        typ: 'Programgemensamna',
        betyg: 'B'
    }]

    ReactDOM.render(
        <Kurser kurser={data} />,
        document.getElementById('pung')
    )
</script>