.react-bootstrap-table table {
    table-layout: auto;
}

/* Mobil */
@media only screen and (max-width: 500px) {
    .carousel-indicators {
        filter: invert(1);
    }
     
     .carousel-inner {
        height: 80vh;
    }
}