.react-bootstrap-table table {
    table-layout: auto;
}

/* Mobil */
@media only screen and (max-width: 500px) {
    .carousel-indicators {
        filter: invert(1);
    }
     
     .carousel-inner {
        height: auto;
    }
}

li.page-item.active > a.page-link {
    background-color: #542d69;
    border: none;
}

li.page-item > a.page-link {
    color: #542d69;
    border: none;
}