<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body class="container">

<header>
  <%- include('../partials/header', {'endpoints': {'login': '/login'}}) %></header>

<main>
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">LOGIN</h5>
                <hr class="my-4">
                <form action="/auth" method="get">
                    <button class="btn btn-lg btn-google btn-block" type="submit">SIGN IN WITH <i class='fab fa-google'></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</main>
</body>
<style>

</style>
</html>
